@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WFVisualSans";
  src: url("./assets/fonts/WFVisualSans-RegularText.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WFVisualSans";
  src: url("./assets/fonts/WFVisualSans-MediumText.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WFVisualSans";
  src: url("./assets/fonts/WFVisualSans-SemiboldText.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "WFVisualSans";
  src: url("./assets/fonts/WFVisualSans-BoldText.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    @apply font-wf text-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold transition-all duration-300;
  }

  label {
    @apply text-sm opacity-80 block mt-5 mb-1;
  }

  input {
    @apply w-full max-w-xl p-1.5 bg-white/50 border border-gray-300 rounded;
  }

  textarea {
    @apply w-full max-w-3xl p-1.5 bg-white/50 border border-gray-300 rounded scrollbar-hide overflow-hidden resize-none;
  }
}

@layer components {
  .container {
    @apply max-w-3xl mx-auto py-[6rem];
  }
}

@layer utilities {
}
